<h1><%= @selected.name %></h1>

<% if @selected.favourite == true %>
  <%=" Contact in your favourite" %>
  <%else %>
  <%= "Contact not in your favourite" %>
  <% end %>

  <br>


<form action="/favourite" method="POST">
  <% if @selected.favourite != true%>
  <button type="submit" name="fav" value="true">Add to favourite</button>
  <% else %>
  <button type="submit" name="fav" value="false">Remove from favourite</button>
  <% end %>


  <input type="hidden" name="id"
      value="<%= @selected.id %>">
  <input type="hidden" name="authenticity_token"
      value="<%= form_authenticity_token %>">
</form>




<p>email: <%=@selected.email%> </p>

<p>Phone Number: <%= @selected.phonenumber %> </p>

<p>adress:<br><%=@selected.adress%></p>



<%= link_to "Home", "/" %>
